:root{
    --pink: #e84393;
    --yellow: #FFFF00;
}


*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}


section{
    padding: 2rem 9%;
}

.btn{
    display:inline-block;
    margin-top: 1rem;
    padding: .9rem 3rem;
    border-radius: .5rem;
    background: #FF0000;
    color: #fff;
    font-size: 1.7rem;
    cursor: pointer;

    &:hover{

        background: #333;
    }
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 2.5rem;
    color: #333;
    font-weight: bolder;
}

header .logo span{
    color: var(--pink);
    font-size: 1rem;
}

header .navbar a{
    font-size: 1.5rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color:var(--pink);
}

header .icons a{
    font-size: 2rem;
    color: #333;
    margin-left: 2.5rem;
}

header .icons a:hover{
    color:var(--pink);
}

.search-form{
    position: absolute;
    top: 115%; right: -105%;
    width:55rem;height:4rem;
    border: #fff;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

    &.active{
        right:2rem;
        transition: .4s linear;
    }

    .home .home-slider .slide{
        padding-left: 2rem;

    }

    input{
        height:100%;
        width: 100%;
        font-size: 1.2rem;
        text-transform: none;
        color:#333;
        padding:0 1.2rem;
    }

    label{
        font-size: 1.5rem;
        margin-right: 1.7rem;

    }

}

header #toggler{
    display: none;

}

header .fa-bars{
    font-size: 2rem;
    color: #333;
    border-radius: .5rem;
     padding: .5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.1);
    display: none;
      
}


/* media queries */

@media (max-width:991px){
    html{
        font-size: 55%;
        
    }

    .header{
        padding:2rem;

    }

    section{
        padding: 2rem 9%;
    }
}

 

@media (max-width:768px){

    header .fa-bars{
        display:block;
    }

    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }
    
    

    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
    }

    @media (max-width:450px){
        html{
            font-size: 50%;
            
        }
    
        
    }  
}

.home{
    padding:0;
    padding-top: 7.6rem;
    
    .home-slider{

        .slide{
            min-height: 65vh;
            display: flex;
            align-items: center;
            padding: 2rem;
            padding-left: 7%;
            background-size: cover !important;
            background-position: center !important;

            .content{

                span{
                    font-size: 2rem;
                    color:#333;
                    
                }

                h3{
                    font-size: 5rem;
                    color:#333;
                    padding-top: .5rem;
                    
                    
                }

            }
            
    
        }

    }

    
}

